.account__page {
  width: 100%;
  .ant-tabs-bar {
    margin-bottom: 36px;
  }
}

.account__header__avatar {
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.08);
  height: 200px;
  margin: 0 24px;
  position: relative;
  transition: all 0.2s ease-out;
  width: 200px;
  z-index: 100;
  @include for-phone-only {
    height: 75px;
    width: 75px;
    margin-left: 16px;
  }
}

.account__header__info {
  background: #fff;
  bottom: 104px;
  padding: 16px 16px 16px 248px;
  position: relative;
  width: 100%;
  z-index: 50;
  h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  @include for-phone-only {
    bottom: 16px;
    padding: 24px 16px;
    h1 {
      font-size: 28px;
    }
  }
}

.account__main {
  background: #fff;
  padding: 16px 24px;
  position: relative;
  top: -106px;
  .ant-divider-horizontal {
    margin: 0 0 16px 0;
  }
  .ant-alert {
    margin: 16px 0;
  }
  @include for-phone-only {
    top: 0;
    h3 {
      margin-top: 16px;
    }
  }
}

.account__info-list {
  margin-top: 16px;
  width: 100%;
}

.account__info-list-group {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.account__info-list-group-key {
  font-weight: 700;
  min-width: 48px;
}

.account__info-list-group-value {
  margin-left: 16px;
  width: auto;
}

.account__main {
  .ant-form-item {
    margin-bottom: 6px;
  }
}

.account__avatar-cropper {
  width: 100%;
  height: 400px;
}

.account__avatar-save {
  margin: 16px 0;
  button {
    width: 100%;
  }
}