.bookings__header {
  font-size: 3.2rem;
}

.booking-list__title {
  font-size: $font-size-medium;
  small {
    color: $grey;
    font-size: $font-size-small;
    font-weight: 200;
  }
}

.confirmation-status {
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  min-height: 32px;
  padding: 4px 15px;
  text-align: center;
  width: 100%;
}

.confirmation-status--confirmed {
  color: darken($brand-teal, 5%);
  background-color: lighten($brand-teal, 25%);
  border: 1px solid lighten($brand-teal, 10%);
}

.confirmation-status--selected {
  color: $orange;
  background-color: lighten($orange, 40%);
  border: 1px solid lighten($orange, 10%);
}

.confirmation-status--proposed {
  padding: 0;
  button {
    width: 100%;
  }
}

.flight-information {
  .price {
    font-size: 16px;
  }
}

.flight-leg {
  margin: 0 0 16px 0;
  .operator-image {
    width: 100px;
    img {
      width: 100%;
    }
  }
  .duration {
    color: lighten($grey, 20%);
    font-size: 11px;
    margin-top: 6px;
    text-align: center;
  }
}

.flight-leg__information {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .anticon {
    flex-basis: content;
    font-size: $font-size-large;
  }
  .leg {
    flex-basis: 50%;
    .airport-code {
      font-size: $font-size-medium;
    }
    .airport-name {
      color: lighten($grey, 20%);
      font-size: 10px;
      text-transform: uppercase;
    }
    &.arrival {
      text-align: right;
    }
  }
}
