.card {
  background: #fff;
  border: 1px solid darken($light-grey, 10%);
  display: block;
  margin-bottom: 16px;
  width: 100%;
}

.card__content {
  display: flex;
  flex-direction: row;
}

.card__content--text {
  padding: 12px 24px;
}

.card__title {
  font-size: $font-size-medium;
}

.card__image--left {
  width: 150px;
  height: 100%;
  img {
    width: 150px;
    object-fit: contain;
  }
}

.card__basic-information--purple {
  color: #8a2be2;
}

.card__actions {
  align-items: center;
  align-content: space-between;
  display: flex;
  flex-direction: row;
}

.card__action {
  flex: 1 1 auto;
  text-align: center;
}

.card__action__icon {
  font-size: 18px;
}

.card__additional-information {
  margin: $m-size 0;
  transition: 0.4s ease-in-out;
}

.card__additional-information--hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}