.layout {
  display: flex;
  flex-direction: row;
}

.layout-main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0 auto;
  max-width: 1000px;
  padding: 70px 30px 30px 30px;
  width: 1000px;
}

.layout-container {
  padding: 50px 0;
}