.user-info {
  align-items: center;
  display: flex;
  @include for-phone-only {
    img {
      height: 30px;
      width: 30px;
    }
  }
}

.user-info__avatar {
  border-radius: 4px;
  height: 40px;
  width: 40px;
}